<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <form class="form-inline" action="" method="get">
                                <label class="inline">订单搜索</label>
                                <select name="field" class="form-control">
                                    <option <if condition="I('field') eq order_number">selected</if> value="order_number">订单号</option>
                                    <option <if condition="I('field') eq moblie">selected</if> value="moblie">下单用户名</option>
                                    <option <if condition="I('field') eq classify">selected</if> value="classify">订单类型</option>
                                    <option <if condition="I('field') eq status">selected</if> value="status">订单状态</option>
                                </select>
                                <input type="text" name="keyword" value="{:I(keyword)}" class="form-control">
                                <label class="inline">&nbsp;&nbsp;排序：</label>
                                <select name="order" class="form-control">
                                    <option <if condition="I('order') eq asc">selected</if> value="asc">下单时间升</option>
                                    <option <if condition="I('order') eq desc">selected</if> value="desc">下单时间降</option>
                                </select>
                                <button type="submit" class="btn btn-purple btn-sm">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    Search
                                </button>
                            </form>
                        </div>
                        <div class="space-4"></div>
                        <div class="row">
                            <form id="form" method="post" action="{:U('del')}">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center">订单号</th>
                                        <th class="center">下单用户</th>
                                        <th class="center">下单时间</th>
                                        <th class="center">约会地址</th>
                                        <th class="center">订单类型</th>
                                        <th class="center">订单状态</th>
                                        <th class="center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="val">
                                        <tr>
                                            <td class="center">{$val['order_number']}</td>
                                            <td class="center">{$val['moblie']}</td>
                                            <td class="center">{$val['time_add']|date="Y-m-d H:i:s",###}</td>
                                            <td class="center">{$val['appointment_dd']}</td>
                                            <td class="center">{$val['classify']}</td>
                                            <td class="center">{$val['status']}</td>
                                            <td class="center">
                                                <a href="{:U('details',array('oid'=>$val['oid']))}">详情</a>&nbsp;
                                                <a href="{:U('update',array('oid'=>$val['oid']))}">取消</a>
                                            </td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </form>

                            {$page}
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        $(".uids").click(function () {
            var option = $(".ids");
            option.each(function (i) {
                if (!this.checked){
                    $(".check-all").prop("checked", false);
                    return false;
                }else {
                    $(".check-all").prop("checked", true);
                }
            });
        });
    })
</script>
</body>
</html>
