<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" id="form" method="post" action="{:U('update',array('id'=>$link['id']))}">
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 姓名 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="name" id="title" placeholder="姓名"
                                           class="col-xs-10 col-sm-5" value="{$link['name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">姓名不能为空。</span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 手机号码 </label>
                                <div class="col-sm-9">
                                    <input type="url" name="phone" id="phone" placeholder="手机号码" class="col-xs-10 col-sm-5"
                                           value="{$link['phone']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">手机号码。</span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    留言内容 </label>
                                <div class="col-sm-9">
                                        <textarea name="content" id="content"
                                                  style="width:100%;height:400px;visibility:hidden;">{$article['content']}</textarea>
                                </div>
                            </div>

                            <div class="space-4"></div>



                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info submit" type="button">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        var editor = KindEditor.create('textarea[name="content"]', {
            uploadJson: '__PUBLIC__/kindeditor/php/upload_json.php',
            fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
            allowFileManager: true,
            afterBlur: function () {
                this.sync();
            }
        });

        $(".btn-info.submit").click(function () {
            var webname = $("#name").val();
            var content = $("#content").val();
            if (webname == 0) {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "姓名不能为空",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }

            if (content == '') {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "留言内容需要填写。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }
            $("#form").submit();
        });
    });

</script>
</body>
</html>
